<div class="wrapper-repository">
  <div class="repository-container" *ngFor="let repo of repositories" (click)="hidden(repo)">
    <div class="block-repository">
    <div class="block-image"><img class="image" [src]="repo.owner.avatar_url" alt="avatar"></div>
    <div class="flex-column flex-start" >
      <div class="container">
        <div class="block-author-name">Author: <a [href]="repo.owner.html_url">{{repo.owner?.login}}</a></div>
        <div class="block-repository-name">Repository: <a [href]="repo.html_url">{{repo.name}}</a></div>
      </div>
      <button class="refresh-commit">RC</button>
    </div>

    <div class="flex-column flex-end">
      <ul class="block-repository-details">
        <li class="detail-item">Watch: {{repo.watchers || 0}}</li>
        <li class="detail-item">Star: {{repo.stargazers_count || 0}}</li>
        <li class="detail-item">Fork: {{repo.forks || 0}}</li>
      </ul>
      <div class="block-language">Language: {{repo.language || 'None'}}</div>
    </div>
    </div>
    <ng-container *ngIf="repo.flag">
      <ng-container *ngTemplateOutlet="ref" ></ng-container>
    </ng-container>
  </div>

</div>

<ng-template #ref >
  <div class="wrapper-commit">
    <div class="block-commit">
      <div class="commit-author">author commit: </div>
        <div class="commit">commit: </div>
    </div>
  </div>
</ng-template>
